mixin about()
	+b.about&attributes(attributes)
		+e.in
			+e('h2').title О компании

			+e.text
				+e('p') История нефтяной компании «Роснефть» неразрывно связана с историей отечественной нефтяной промышленности. Основные предприятия НК «Роснефть» были созданы еще в советский период, когда началось полномасштабное освоение новых нефтяных и газовых месторождений. В 1990-е годы многочисленные предприятия топливно-энергетического комплекса и другие, связанные с ними предприятия государственного сектора экономики, были объединены в вертикально интегрированные компании по образцу крупнейших мировых корпораций...
			+e.image
				+e('img')(src='assets/images/content/about-img.jpg')

			+e.button
				+b('a').button._style-third(href='#button') Читать Далее

			+e.rect-big
			+e.rect-med

