mixin hero()
	+b.hero&attributes(attributes)
		+e.in
			+b.slider
				+e('ul').list.owl-carousel
					+e('li').item
						+e.item-img
							+e('img')(src='assets/images/content/hero-img-1.jpg' alt='Минеральные удобрения')
						+e.item-content
							+e('h1').item-title Минеральные удобрения
							+e.item-text
								+e('p') Здесь Вы найдете широкий ассортимент натуральных удобрений для вашего сада: азотные, комплексные и фосфорные, все в одном месте.

							+b('a').button(href='#button') Подробнее
					+e('li').item
						+e.item-img
							+e('img')(src='assets/images/content/hero-img-2.jpg' alt='Минеральные удобрения')
						+e.item-content
							+e('h1').item-title Минеральные удобрения
							+e.item-text
								+e('p') Здесь Вы найдете широкий ассортимент натуральных удобрений для вашего сада: азотные, комплексные и фосфорные, все в одном месте.

							+b('a').button(href='#button') Подробнее

					+e('li').item
						+e.item-img
							+e('img')(src='assets/images/content/hero-img-3.jpg' alt='Минеральные удобрения')
						+e.item-content
							+e('h1').item-title Минеральные удобрения
							+e.item-text
								+e('p') Здесь Вы найдете широкий ассортимент натуральных удобрений для вашего сада: азотные, комплексные и фосфорные, все в одном месте.

							+b('a').button(href='#button') Подробнее

					+e('li').item
						+e.item-img
							+e('img')(src='assets/images/content/hero-img-4.jpg' alt='Минеральные удобрения')
						+e.item-content
							+e('h1').item-title Минеральные удобрения
							+e.item-text
								+e('p') Здесь Вы найдете широкий ассортимент натуральных удобрений для вашего сада: азотные, комплексные и фосфорные, все в одном месте.

							+b('a').button(href='#button') Подробнее


					+e('li').item
						+e.item-img
							+e('img')(src='assets/images/content/hero-img-5.jpg' alt='Минеральные удобрения')
						+e.item-content
							+e('h1').item-title Минеральные удобрения
							+e.item-text
								+e('p') Здесь Вы найдете широкий ассортимент натуральных удобрений для вашего сада: азотные, комплексные и фосфорные, все в одном месте.

							+b('a').button(href='#button') Подробнее

					+e('li').item
						+e.item-img
							+e('img')(src='assets/images/content/hero-img-6.jpg' alt='Минеральные удобрения')
						+e.item-content
							+e('h1').item-title Минеральные удобрения
							+e.item-text
								+e('p') Здесь Вы найдете широкий ассортимент натуральных удобрений для вашего сада: азотные, комплексные и фосфорные, все в одном месте.

							+b('a').button(href='#button') Подробнее

					+e('li').item
						+e.item-img
							+e('img')(src='assets/images/content/hero-img-7.jpg' alt='Минеральные удобрения')
						+e.item-content
							+e('h1').item-title Минеральные удобрения
							+e.item-text
								+e('p') Здесь Вы найдете широкий ассортимент натуральных удобрений для вашего сада: азотные, комплексные и фосфорные, все в одном месте.

							+b('a').button(href='#button') Подробнее


					+e('li').item
						+e.item-img
							+e('img')(src='assets/images/content/hero-img-8.jpg' alt='Минеральные удобрения')
						+e.item-content
							+e('h1').item-title Минеральные удобрения
							+e.item-text
								+e('p') Здесь Вы найдете широкий ассортимент натуральных удобрений для вашего сада: азотные, комплексные и фосфорные, все в одном месте.

							+b('a').button(href='#button') Подробнее

