mixin content()
	+b.content&attributes(attributes)
		h1.content__title Азотные удобрения

		.content__text
			p Азотные минеральные удобрения наиболее востребованные в мировом сельском хозяйстве — их доля составляет около 60% от мирового потребления минеральных удобрений. Поскольку азот — это основной элемент питания, необходимый растениям, урожайность сельскохозяйственных культур в большей степени зависит от использования данного вида удобрений. Азотные удобрения широко используются в нечерноземной зоне, во влажных районах лесостепи и в зоне поливного земледелия, где почвы содержат недостаточное количество азота. Вносить в почву азотные удобрения необходимо постоянно, так как азот полностью усваивается растениями в течение одного сельскохозяйственного сезона.

		ul.products
			li.products__product
				h2.products__product-title Карбамид
				.products__product-text
					p Высококонцентрированное азотное удобрение и сырье для производства карбамидо-аммиачной смеси и карбамидоaормальдегидных смол.
				.products__product-w
					.products__product-img
						img(src="assets/images/content/product-img-1.png", alt="product")

					ul.variants
						li.variants__row
							.variants__col.variants__col_type
								.variants__col-title Вид:
								.variants__col-value Марка Б, высший сорт
							.variants__col.variants__col_factory
								.variants__col-title Завод-производитель:
								.variants__col-value ОАО «Акрон»
							.variants__col.variants__col_info
								.variants__col-title Информация:
								a.variants__col-value.variants__col-link(href="#link") PDF 85 kb
							.variants__col.variants__col_download
								a.download(href="#link") Скачать

						li.variants__row
							.variants__col.variants__col_type
								.variants__col-title Вид:
								.variants__col-value Марка Б, высший сорт
							.variants__col.variants__col_factory
								.variants__col-title Завод-производитель:
								.variants__col-value ОАО «Акрон»
							.variants__col.variants__col_info
								.variants__col-title Информация:
								a.variants__col-value.variants__col-link(href="#link") PDF 85 kb
							.variants__col.variants__col_download
								a.download(href="#link") Скачать

						li.variants__row
							.variants__col.variants__col_type
								.variants__col-title Вид:
								.variants__col-value Марка Б, высший сорт
							.variants__col.variants__col_factory
								.variants__col-title Завод-производитель:
								.variants__col-value ОАО «Акрон»
							.variants__col.variants__col_info
								.variants__col-title Информация:
								a.variants__col-value.variants__col-link(href="#link") PDF 85 kb
							.variants__col.variants__col_download
								a.download(href="#link") Скачать

			li.products__product
				h2.products__product-title Аммиачная селитра
				.products__product-text
					p Универсальное азотное удобрение, сырье для получения смешанных удобрений и карбамидо-аммиачной смеси, компонент для изготовления взрывчатых веществ (пористая и техническая аммиачная селитра).
				.products__product-w
					.products__product-img
						img(src="assets/images/content/product-img-1.png", alt="product")

					ul.variants
						li.variants__row
							.variants__col.variants__col_type
								.variants__col-title Вид:
								.variants__col-value Марка Б, высший сорт
							.variants__col.variants__col_factory
								.variants__col-title Завод-производитель:
								.variants__col-value ОАО «Акрон»
							.variants__col.variants__col_info
								.variants__col-title Информация:
								a.variants__col-value.variants__col-link(href="#link") PDF 85 kb
							.variants__col.variants__col_download
								a.download(href="#link") Скачать

						li.variants__row
							.variants__col.variants__col_type
								.variants__col-title Вид:
								.variants__col-value Марка Б, высший сорт
							.variants__col.variants__col_factory
								.variants__col-title Завод-производитель:
								.variants__col-value ОАО «Акрон»
							.variants__col.variants__col_info
								.variants__col-title Информация:
								a.variants__col-value.variants__col-link(href="#link") PDF 85 kb
							.variants__col.variants__col_download
								a.download(href="#link") Скачать

						li.variants__row
							.variants__col.variants__col_type
								.variants__col-title Вид:
								.variants__col-value Марка Б, высший сорт
							.variants__col.variants__col_factory
								.variants__col-title Завод-производитель:
								.variants__col-value ОАО «Акрон»
							.variants__col.variants__col_info
								.variants__col-title Информация:
								a.variants__col-value.variants__col-link(href="#link") PDF 85 kb
							.variants__col.variants__col_download
								a.download(href="#link") Скачать

			li.products__product
				h2.products__product-title Карбамидо-аммиачная смесь
				.products__product-text
					p Высокоэaaективное жидкое удобрение.
				.products__product-w
					.products__product-img
						img(src="assets/images/content/product-img-1.png", alt="product")

					ul.variants
						li.variants__row
							.variants__col.variants__col_type
								.variants__col-title Вид:
								.variants__col-value Марка Б, высший сорт
							.variants__col.variants__col_factory
								.variants__col-title Завод-производитель:
								.variants__col-value ОАО «Акрон»
							.variants__col.variants__col_info
								.variants__col-title Информация:
								a.variants__col-value.variants__col-link(href="#link") PDF 85 kb
							.variants__col.variants__col_download
								a.download(href="#link") Скачать

						li.variants__row
							.variants__col.variants__col_type
								.variants__col-title Вид:
								.variants__col-value Марка Б, высший сорт
							.variants__col.variants__col_factory
								.variants__col-title Завод-производитель:
								.variants__col-value ОАО «Акрон»
							.variants__col.variants__col_info
								.variants__col-title Информация:
								a.variants__col-value.variants__col-link(href="#link") PDF 85 kb
							.variants__col.variants__col_download
								a.download(href="#link") Скачать

						li.variants__row
							.variants__col.variants__col_type
								.variants__col-title Вид:
								.variants__col-value Марка Б, высший сорт
							.variants__col.variants__col_factory
								.variants__col-title Завод-производитель:
								.variants__col-value ОАО «Акрон»
							.variants__col.variants__col_info
								.variants__col-title Информация:
								a.variants__col-value.variants__col-link(href="#link") PDF 85 kb
							.variants__col.variants__col_download
								a.download(href="#link") Скачать

				.rect-biggest
				.rect-med
				.rect-med.rect-med_second
				.rect-small
