.content
	display block
	width 880px
	width ratio-percentage(880,1180)
	float right
	+below(601px)
		float none
		width 100%
	&__title
		@extends .title_style-four
	&__text
		margin-bottom 30px
		@extends .wysiwyg




