@font-face {
	font-family: 'ralewaybold';
	src: url('../fonts/raleway/ralewaybold.woff2') format('woff2'),
		 url('../fonts/raleway/ralewaybold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ralewayextrabold';
	src: url('../fonts/raleway/ralewayextrabold.woff2') format('woff2'),
		 url('../fonts/raleway/ralewayextrabold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ralewayregular';
	src: url('../fonts/raleway/ralewayregular.woff2') format('woff2'),
		 url('../fonts/raleway/ralewayregular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'clearsansreg';
	src: url('../fonts/clearsans/clearsans.woff2') format('woff2'),
		 url('../fonts/clearsans/clearsans.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'clearsansmed';
	src: url('../fonts/clearsans/clearsansmedium.woff2') format('woff2'),
		 url('../fonts/clearsans/clearsansmedium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'clearsansbld';
	src: url('../fonts/clearsans/clearsansbold.woff2') format('woff2'),
		 url('../fonts/clearsans/clearsansbold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'clearsanslght';
	src: url('../fonts/clearsans/clearsanslight.woff2') format('woff2'),
		 url('../fonts/clearsans/clearsanslight.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}



$raleway-reg = 'ralewayregular', Arial,"Helvetica Neue",Helvetica,sans-serif
$raleway-bld = 'ralewaybold', Arial,"Helvetica Neue",Helvetica,sans-serif
$raleway-exbld = 'ralewayextrabold', Arial,"Helvetica Neue",Helvetica,sans-serif

$clearsans-reg = 'clearsansreg', Arial,"Helvetica Neue",Helvetica,sans-serif
$clearsans-med = 'clearsansmed', Arial,"Helvetica Neue",Helvetica,sans-serif
$clearsans-bld = 'clearsansbld', Arial,"Helvetica Neue",Helvetica,sans-serif
$clearsans-lght = 'clearsanslght', Arial,"Helvetica Neue",Helvetica,sans-serif
