$main-nav-hover = #79b734
$main-nav = #0078bf
$main-nav-active = #568224

$text-color = #262626


$button-bg = #0078bf
$button-bg-hover = #79b734
$button-bg-active = #568224
$button-text-color = #fff

$button-second-bg = #79b734
$button-second-bg-hover = #0078bf
$button-second-bg-active = #0e527a

