include /blocks/icon/icon
include /blocks/header/header
include /blocks/breadcrumbs/breadcrumbs
include /blocks/main/main
include /blocks/sidebar/sidebar
include /blocks/content/content




include /blocks/footer/footer

extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'Каталог';
	- var pageDescription = 'Каталог'
	- var pageKeywords = 'Каталог'

block content
	+header
	+breadcrumbs
		.breadcrumbs__in
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="#link") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="#link") Продукция
				li.breadcrumbs__item
					strong.breadcrumbs__link(href="#link") Азотные удобрения
	+main
		+content
		+sidebar
	+footer

