include /blocks/header/header

include /blocks/hero/hero
include /blocks/providers/providers
include /blocks/about/about
include /blocks/subscribe/subscribe
include /blocks/icon/icon
include /blocks/footer/footer
include /blocks/popup/popup

extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'Главная';
	- var pageDescription = 'Главная'
	- var pageKeywords = 'Главная'

block content
	+header
	+hero
	+providers
	+about
	+subscribe
	+footer
	+popup.mfp-hide#popup

