mixin gallery()
	+b.gallery&attributes(attributes)
		h2.gallery__title Галерея
			.carousel
				ul.carousel__list.owl-carousel
					li.carousel__item
						a.carousel__link(href='assets/images/content/gallery-img-1.jpg')
							img(src="assets/images/content/gallery-img-1.jpg", alt="gallery img 1")
					li.carousel__item
						a.carousel__link(href='assets/images/content/gallery-img-2.jpg')
							img(src="assets/images/content/gallery-img-2.jpg", alt="gallery img 2")
					li.carousel__item
						a.carousel__link(href='assets/images/content/gallery-img-3.jpg')
							img(src="assets/images/content/gallery-img-3.jpg", alt="gallery img 3")
					li.carousel__item
						a.carousel__link(href='assets/images/content/gallery-img-4.jpg')
							img(src="assets/images/content/gallery-img-4.jpg", alt="gallery img 4")
					li.carousel__item
						a.carousel__link(href='assets/images/content/gallery-img-1.jpg')
							img(src="assets/images/content/gallery-img-1.jpg", alt="gallery img 1")
					li.carousel__item
						a.carousel__link(href='assets/images/content/gallery-img-2.jpg')
							img(src="assets/images/content/gallery-img-2.jpg", alt="gallery img 2")
					li.carousel__item
						a.carousel__link(href='assets/images/content/gallery-img-3.jpg')
							img(src="assets/images/content/gallery-img-3.jpg", alt="gallery img 3")
					li.carousel__item
						a.carousel__link(href='assets/images/content/gallery-img-4.jpg')
							img(src="assets/images/content/gallery-img-4.jpg", alt="gallery img 4")
					li.carousel__item
						a.carousel__link(href='assets/images/content/gallery-img-1.jpg')
							img(src="assets/images/content/gallery-img-1.jpg", alt="gallery img 1")
					li.carousel__item
						a.carousel__link(href='assets/images/content/gallery-img-2.jpg')
							img(src="assets/images/content/gallery-img-2.jpg", alt="gallery img 2")
					li.carousel__item
						a.carousel__link(href='assets/images/content/gallery-img-3.jpg')
							img(src="assets/images/content/gallery-img-3.jpg", alt="gallery img 3")
					li.carousel__item
						a.carousel__link(href='assets/images/content/gallery-img-4.jpg')
							img(src="assets/images/content/gallery-img-4.jpg", alt="gallery img 4")
					li.carousel__item
						a.carousel__link(href='assets/images/content/gallery-img-1.jpg')
							img(src="assets/images/content/gallery-img-1.jpg", alt="gallery img 1")
					li.carousel__item
						a.carousel__link(href='assets/images/content/gallery-img-2.jpg')
							img(src="assets/images/content/gallery-img-2.jpg", alt="gallery img 2")
					li.carousel__item
						a.carousel__link(href='assets/images/content/gallery-img-3.jpg')
							img(src="assets/images/content/gallery-img-3.jpg", alt="gallery img 3")
					li.carousel__item
						a.carousel__link(href='assets/images/content/gallery-img-4.jpg')
							img(src="assets/images/content/gallery-img-4.jpg", alt="gallery img 4")

