.player
	position relative
	margin-bottom 10px
	padding-bottom 56%
	height 0
	img
		max-width 100%
		height auto
	iframe
		position absolute
		top 0
		left 0
		height 100%
		width 100%

	.rect-biggest,
	.rect-med,
	.rect-med_second,
	.rect-small
		position absolute

	.rect-biggest
		left -350px
		bottom 192px
	.rect-med
		left -350px
		bottom 620px
	.rect-med_second
		left auto
		right -330px
		bottom 230px
	.rect-small
		right -330px
		bottom 442px
