mixin player()
	+b.player&attributes(attributes)
		//- img(src="assets/images/content/player.jpg")
		iframe(src="https://player.vimeo.com/video/181725879" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)


		.rect-biggest
		.rect-med
		.rect-med.rect-med_second
		.rect-small
